.section {
  width: 30vw;
  padding: 20px;

  border: 2px solid rgb(61, 77, 218);
  border-radius: 8px;
  background-color: rgba(201, 187, 209, 0.486);
}

.section:not(:last-child) {
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 20px;
}
